name: SVG Check

on:
  push:
    paths:
      - "**.svg"
  pull_request:
    types: [opened, review_requested, synchronize]

jobs:
  svg_validator:
    name: Validate SVG logos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Check for unsafe content in SVG logos
        run: node check_logos.js
